html {
    overflow: hidden;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#container {
    width: 100vw;
    padding: 2vw;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden
}

#container.pushedRight {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
}

.component {
    display: inline-block;
    width: 45vw;
    height: 15vh;
    margin-top: 0.6vh;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    font-size: 3vh;
    line-height: 15vh;
    border: 1px solid #ccc;
    border-radius: 0.8vw;
}

.small {
    height: 8vh;
    line-height: 3vh;
    font-size: 3vh;   text-decoration: none;
}

.small.active {
    text-decoration: underline;
}

.large {
    height: 24vh;
    line-height: 24vh;
    font-size: 21vh;
    margin-top: -4vh;
}

.service {
    width: 24vw;
    height: 24vw;
    border-radius: 12vw;
    border: 1px solid #ccc;
    margin: auto;
    margin-top: -2vh;
    background-color: #fff
}

.service.active {
    background-color: #030303;
}

.no-border {
    border: 1px solid #fff;
}

#message {
    height: 0;
    width: 0;
    overflow: hidden
}

#message.active {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 38vh;
    background-color: #fff;
    text-align: center;
    line-height: 18vh;
    font-size: 3vh;
}

#message.active strong {
    font-size: 6vh;
}

#leftMenu {
    background-color: #ccc;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: hidden;
}

#leftMenu #optionsTitle {
    padding: 2vw;
    font-size: 6vh;
}

#leftMenu .field {
    font-size: 3vh;
    padding: 2vw;
}

#leftMenu .field label {
    display: block;
    margin-bottom: 2vw;
}

#leftMenu .field input {
    padding: 1vw;
    font-size: 3vh;
}

#leftMenu.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.Scp {
  width: 175px;
  height: 150px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.Scp-saturation {
  position: relative;
  width: calc(100% - 25px);
  height: 100%;
  background: -webkit-linear-gradient(left, #fff, #f00);
  background: linear-gradient(to right, #fff, #f00);
  float: left;
  margin-right: 5px;
}
.Scp-brightness {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(rgba(255,255,255,0), #000);
  background: linear-gradient(rgba(255,255,255,0), #000);
}
.Scp-sbSelector {
  border: 2px solid;
  border-color: #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 10px;
  top: -7px;
  left: -7px;
  box-sizing: border-box;
  z-index: 10;
}
.Scp-hue {
  width: 20px;
  height: 100%;
  position: relative;
  float: left;
  background: -webkit-linear-gradient(#f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
  background: linear-gradient(#f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
}
.Scp-hSelector {
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #000;
  right: -3px;
  width: 10px;
  height: 2px;
}
