$grey: #ccc;
$darkGrey: #030303;
$white: #fff;
$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$smallFont: 3vh;
$padding: 2vw;

html {
    overflow: hidden;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: $fontFamily;
}

#container {
    width: 100vw;
    padding: $padding;
    transform: translateX(0);
    transition: 0.5s;
    overflow: hidden;

    &.pushedRight {
        transform: translateX(100vw);
    }
}

.component {
    display: inline-block;
    width: 45vw;
    height: 15vh;
    margin-top: 0.6vh;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    font-size: $smallFont;
    line-height: 15vh;
    border: 1px solid $grey;
    border-radius: 0.8vw;
}

.small {
    height: 8vh;
    line-height: $smallFont;
    font-size: $smallFont;

    &.active {
        text-decoration: underline;
    }   text-decoration: none;
}

.large {
    height: calc($smallFont * 8);
    line-height: calc($smallFont * 8);
    font-size: calc($smallFont * 7);
    margin-top: -4vh;
}

.service {
    width: 24vw;
    height: 24vw;
    border-radius: 12vw;
    border: 1px solid $grey;
    margin: auto;
    margin-top: -2vh;
    background-color: $white;

    &.active {
        background-color: $darkGrey;
    }
}

.no-border {
    border: 1px solid $white;
}

#message {
    height: 0;
    width: 0;
    overflow: hidden;

    &.active {
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        height: 38vh;
        background-color: $white;
        text-align: center;
        line-height: calc($smallFont * 6);
        font-size: $smallFont;

        strong {
            font-size: calc($smallFont * 2);
        }
    }
}

#leftMenu {
    background-color: #ccc;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    transition: 0.5s;
    overflow: hidden;

    &.active {
        transform: translateX(0);
    }

    #optionsTitle {
        padding: $padding;
        padding-bottom: 0;
        font-size: calc($smallFont * 2);
    }

    .field {
        font-size: $smallFont;
        padding: $padding;

        label {
            display: block;
            margin-bottom: $padding;
        }

        input {
            padding: 1vw;
            font-size: $smallFont;
        }

        .colorPicker {
            height: 40vw;
        }

        .colorOutput {
            float: right;
            width: 45vw;
            height: 40vw;

            &#player1colorOutput {
                background-color: #0000FF;
            }

            &#player2colorOutput {
                background-color: #FF0000;
            }
        }
    }
}
